@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'); /* Futuristische Schriftart */

/* Allgemeine Stile für den gesamten Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Orbitron', sans-serif; /* Futuristische Schriftart */
    background: linear-gradient(to bottom, #000428, #004e92); /* Space-Hintergrund */
    color: white;
}

/* Header-Stil */
header {
    text-align: center;
    margin-top: 20px;
}

/* Navigation-Stil */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #66c2ff;
}

/* Hauptbereich-Stil */
main {
    text-align: center;
    margin-top: 50px;
}

main h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
}
